<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div class="recover-box card p-4 shadow-lg">
    <div class="recover-header">
      <h2 class="text-center">Recupero Password</h2>
    </div>

    <!-- Aggiungi un messaggio di errore -->
    <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="recoverPassword()">
      <div class="mb-3">
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="Inserisci la tua email"
          [(ngModel)]="email"
          name="email"
          required
          autocomplete="off"
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-dark btn-lg">Invia Link di Recupero</button>
      </div>
      <div class="text-center mt-3">
        <p>
          Ricordi la password?
          <a [routerLink]="['/login']" class="text-decoration-none fw-bold">Accedi</a>
        </p>
      </div>
    </form>
  </div>
</div>

<!-- Success popup -->
<app-success-popup
  [show]="requestState"
  [message]="'Email inviata con successo! Controlla la tua casella di posta.'"
  (closed)="closeAlert()"
></app-success-popup>
