<div class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <h1 class="text-center">Modifica Todo</h1>
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
      <!-- Titolo -->
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          id="title"
          name="title"
          [(ngModel)]="todo.title"
          #title="ngModel"
          required
          minlength="3"
          placeholder="Enter title"
          class="form-control"
        />
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
          Title is required and must be at least 3 characters long.
        </div>
      </div>

      <!-- Data di scadenza -->
      <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date:</label>
        <input
          id="dueDate"
          name="dueDate"
          [(ngModel)]="todo.dueDate"
          #dueDate="ngModel"
          type="date"
          [min]="minDate"
          [disabled]="isDueDateDisabled"
          class="form-control"
        />
        <label *ngIf="todo.dueDate" for="disableDueDate" class="form-check-label mt-2">
          Remove duedate:
          <input
            *ngIf="todo.dueDate"
            [(ngModel)]="isDueDateDisabled"
            type="checkbox"
            name="disableDueDate"
            class="form-check-input ms-2"
          />
        </label>
        <div *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)" class="error">
          Please select a valid date (cannot be in the past).
        </div>
      </div>

      <!-- Completed -->
      <div class="mb-3 form-check">
        <input id="completed" name="completed" type="checkbox" [(ngModel)]="todo.completed" class="form-check-input" />
        <label for="completed" class="form-check-label">Completed:</label>
      </div>

      <!-- Assegna a -->
      <div class="mb-3">
        <label for="assignedTo" class="form-label">Assigned To:</label>
        <select id="assignedTo" name="assignedTo" [(ngModel)]="assignedToId" class="form-select">
          <option [ngValue]="'noSelection'" [selected]="true">Select a person</option>
          <option [ngValue]="'removeAssign'" *ngIf="todo.assignedTo">Remove assign</option>
          <option *ngFor="let user of users" [ngValue]="user.id">
            {{ user.fullName }}
          </option>
        </select>
      </div>

      <div class="d-flex justify-content-end">
        <button id="submit" type="submit" [disabled]="editForm.invalid" class="btn btn-primary me-2">Save</button>
        <button type="button" (click)="closePopup()" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>
