<div class="todo-item">
  <div class="header">
    <h3>{{ todo.title }}</h3>
  </div>
  <div class="info">
    <p><strong>Creation date:</strong> {{ todo.creationDate }}</p>
    <p><strong>Due Date:</strong> {{ todo.dueDate }}</p>
    <p class="completed">
      <strong>Completed: </strong>
      <input
        type="checkbox"
        [checked]="todo.completed"
        class="completed-checkbox"
        id="completed"
        (change)="onToggleComplete()"
      />
      <br />
    </p>
    <p>
      <strong>Created By:</strong>
      <!-- Aggiungi uno spazio qui -->
      <app-user-avatar [user]="todo.createdBy!" [size]="30"></app-user-avatar>
      <span class="assigned-name">{{ todo.createdBy!.fullName }}</span>
    </p>
    <p>
      <strong>Assigned To: </strong>
      <!-- Aggiungi uno spazio qui -->
      <ng-container *ngIf="todo.assignedTo; else noAssignment">
        <app-user-avatar [user]="todo.assignedTo" [size]="30"></app-user-avatar>
        <span class="assigned-name">{{ todo.assignedTo.fullName }}</span>
        <!-- Aggiungi una classe se serve -->
      </ng-container>
      <ng-template #noAssignment>
        <span>todo non assegnato</span>
      </ng-template>
    </p>
  </div>
  <div class="actions">
    <button (click)="onEdit()">Edit</button>
    <button (click)="onDelete()">Delete</button>
  </div>
</div>
