/* Sfondo del contenitore principale */
.container-fluid {
  /* background: linear-gradient(to bottom right, #eceed0, #a5d36f); */
  background-image: url("../../../assets/todo_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* Login box styling */
.login-box {
  border: 2px solid black;
  background-color: rgb(234, 239, 244);
  border-radius: 15px;
  padding: 40px; /* Aumenta il padding per il box */
  max-width: 400px; /* Imposta una larghezza massima per il box */
  width: 100%; /* Fai in modo che il box occupi il 100% della larghezza disponibile */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per far risaltare il box */
}

/* Aumenta la dimensione del testo nei titoli */
.login-header h2 {
  font-size: 24px; /* Dimensione del font per l'intestazione */
}

/* Aumenta la dimensione del testo dei pulsanti */
.btn-dark {
  padding: 15px 30px; /* Aumenta il padding per il pulsante */
  font-size: 18px; /* Aumenta la dimensione del font per il pulsante */
}

/* Aumenta la dimensione del testo degli input */
.form-control {
  font-size: 18px; /* Dimensione del font per gli input */
  padding: 15px; /* Aumenta il padding interno degli input */
}

/* Icona occhio */
.toggle-password {
  cursor: pointer;
  font-size: 25px;
  color: #555;
}
.toggle-password:hover {
  color: #000; /* Colore dell'icona al passaggio del mouse */
}
