.submit-btn {
  margin-top: 20px;
}

input[type="password"] {
  margin-bottom: 10px;
}

/* Icona per la visibilità delle password */
.eye-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000 !important;
  font-size: 1.2rem;
}
