<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h1 class="card-title text-center text-primary mb-4">Reset Password</h1>
          <form id="resetPasswordForm" (ngSubmit)="onSubmit()">
            <input type="hidden" id="token" name="token" />
            <input type="hidden" id="userId" name="userId" />

            <!-- Password field with icon -->
            <div class="form-group position-relative">
              <label for="password">Nuova Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  [(ngModel)]="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                  placeholder="Inserisci la nuova password"
                />
                <div class="eye-icon">
                  <app-eyes-icon (state)="togglePasswordVisibility()" size="25px"></app-eyes-icon>
                </div>
              </div>
            </div>

            <!-- Confirm Password field with icon -->
            <div class="form-group position-relative">
              <label for="newPassword">Conferma Nuova Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  [(ngModel)]="checkPassword"
                  class="form-control"
                  id="check-password"
                  name="check-password"
                  required
                  placeholder="Conferma la nuova password"
                />
                <div class="eye-icon">
                  <app-eyes-icon (state)="toggleCheckPasswordVisibility()" size="25px"></app-eyes-icon>
                </div>
              </div>
            </div>

            <!-- Centered Button with hover effect -->
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-lg submit-btn px-5">
                <i class="fas fa-redo-alt"></i>
                Reset Password
              </button>
            </div>

            <!-- Success or error messages -->
            <!-- <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{ errorMessage }}
              </div>
              <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
                {{ successMessage }}
              </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-success-popup
  [show]="resetState"
  [message]="'Password resettata con successo! Ora puoi effettuare il login con la nuova password.'"
  (closed)="closeAlert()"
></app-success-popup>
