<nav class="navbar">
  <!-- Nome dell'app -->
  <div class="app-name"><a href="/app/dashboard">Todo App</a></div>

  <!-- Ricerca todo e add button -->
  <div class="todo-dashboard-container">
    <app-nav-bar-todo-dashboard></app-nav-bar-todo-dashboard>
  </div>

  <!-- Sezione utente -->
  <div class="user-section">
    <div class="username">{{ fullName }}</div>
    <!-- User icon -->
    <div class="user-icon-container">
      <img
        [src]="user.picture"
        alt="User Avatar"
        class="user-avatar"
        (click)="toggleDropdown()"
        (error)="showDefaultAvatar()"
        *ngIf="!useDefaultAvatar; else defaultIcon"
      />
      <ng-template #defaultIcon>
        <div></div>
        <div (click)="toggleDropdown()" class="user-icon">
          {{ userInitials }}
        </div>
      </ng-template>
    </div>

    <!-- Dropdown-->
    <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<!-- <div class="user-icon" (click)="toggleDropdown()">
  <ng-container *ngIf="user.picture; else defaultIcon">
    <img [src]="user.picture" alt="User Icon" />
  </ng-container>
  <ng-template #defaultIcon>
    {{ userInitials }}
  </ng-template>
</div> -->
