.username {
  cursor: pointer;
}

/* Personalizzazioni opzionali */
.form-control:focus {
  border-color: #4285f4;
  box-shadow: none;
}

.dropdown-menu {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px; /* Adatta il padding per mobile */
  }

  .form-control {
    width: 100px; /* Riduci la larghezza del campo di input per mobile */
  }
}
