<nav class="navbar">
  <!-- Nome dell'app -->
  <div class="app-name"><a href="/app/dashboard">Todo App</a></div>

  <!-- Ricerca todo e add button -->
  <div class="todo-dashboard-container">
    <app-nav-bar-todo-dashboard
      [todos]="todos"
      (searchChange)="forwardSearchChange($event)"
      (incompleteFilterChange)="forwardIncompleteFilterChange($event)"
    ></app-nav-bar-todo-dashboard>
  </div>

  <!-- Sezione utente -->
  <div class="user-section">
    <div (click)="toggleDropdown()" class="username">{{ fullName }}</div>
    <!-- User icon -->
    <div class="user-icon-container">
      <app-user-avatar (click)="toggleDropdown()" [user]="user" [size]="35"></app-user-avatar>
    </div>

    <!-- Dropdown-->
    <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
