/* Sfondo e layout */
.container-fluid {
  background-image: url("../../../assets/todo_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 244, 245);
}

/* Box di login */
.login-box {
  border: 2px solid black;
  border-radius: 35px;
  background-color: rgb(234, 239, 244);
  padding: 40px;
  width: 100%;
  max-width: 440px;
}

/* Intestazione del modulo */
.login-header {
  text-align: center;
  margin: 20px 0 30px 0;
}

.login-header h2 {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}

/* Icona per la visibilità delle password */
.eye-icon {
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 1.2rem;
}

/* Messaggi di errore */
.error-message {
  color: red;
  font-size: 12px;
  min-height: 20px;
  margin-bottom: 5px;
}

/* Per garantire che gli elementi non si sovrappongano */
.form-control {
  padding-right: 40px; /* Spazio per l'icona dell'occhio a destra */
}

/* Radio buttons */
.d-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mt-2 {
  margin-top: 0.5rem;
}

/* Personalizzazione per il file input */
#avatar-upload {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
}

/* Anteprima immagine */
.avatar-preview {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
}
